<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngrySquirrel.Netduino.HidDecoder" version="1.0.0.0" targetFramework="netmf42" />
  <package id="AngrySquirrel.Netduino.NtpClient" version="1.0.0.0" targetFramework="netmf42" />
  <package id="AngrySquirrel.Netduino.ProximitySensor" version="1.0.0.0" targetFramework="netmf42" />
  <package id="AngrySquirrel.Netduino.RestClient" version="1.0.0.0" targetFramework="netmf42" />
  <package id="AngrySquirrel.Netduino.SerialLcd" version="1.0.0.0" targetFramework="netmf42" />
  <package id="AngrySquirrel.Netduino.Utilities" version="1.0.0.0" targetFramework="netmf42" />
</packages>